# Created by https://www.gitignore.io

### Objective-C ###
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*/xcuserdata/*
derived_data/
Carthage/Build
RoomPainter/fastlane/output/*
fastlane/output/*
TestApp/*

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
XDEX/Pods/


### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
.DS_Store
**/bluepill/*
**/Releases/*.zip
**/Releases/*.ipa
**.ipa
*.app.dSYM*
build_log.log
fastlane/report.xml
*.mobileprovision*
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
fastlane/Preview.html
fastlane/test_output

*.DS_Store
RoomPainter/fastlane/report.xml
RoomPainter/fastlane/Preview.html
RoomPainter/fastlane/README.md
RoomPainter/fastlane/screenshots/
RoomPainter/fastlane/test_output/
RoomPainter/fastlane/output/
# reports
reports/
RoomPainter/cobertura.xml
RoomPainter/reports/
RoomPainter/test_output/
RoomPainter.xcodeproj/project.pbxproj
RoomPainter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
RoomPainter.xcodeproj/xcshareddata/xcschemes/Debug.xcscheme
